---
import Layout from "../layouts/Layout.astro";
const { id } = Astro.params;

const res = await (
  await fetch(`${import.meta.env.PUBLIC_API_URL}/views/${id}`)
).json();
---

<Layout title={`pixel | ${id}`}>
  <main>
    <h1>{id}</h1>
    <p>{JSON.stringify(res)}</p>
  </main>
</Layout>

<style>
  main {
    color: white;
  }
</style>
