---
import Layout from "../layouts/Layout.astro";
import type { NestedObject } from "../types/entry";
import Display from "../components/Display";

const { id } = Astro.params;

const all_data: NestedObject = await (
  await fetch(`${import.meta.env.PUBLIC_API_URL}/views/${id}`)
).json();
---

<Layout title={`pixel | ${id}`}>
  <main>
    <h1>Tracking: {id}</h1>
    <Display data={all_data} client:only="react" />
    <style>
      h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      main {
        color: white;
        padding: 40px;
      }
    </style>
  </main>
</Layout>
